
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	background-color: var(--bg-color);
	font-family: sans-serif;
}


:root{
	--bg-color:#2d243d;
}

body{
	width:100vw;
	height:110vh;
}

main{
	margin:15px 0;
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

img{
	width:100%;
	height: 100%;
}


.lunch{
	color: #f9f3f3;
	padding: 80px 0 40px;
	font-weight: 560;
	font-size: 16px;
	text-align: center;
	letter-spacing: 5.3px;
}



.card-box{
	display: flex;
	width:100%;
	justify-content: space-evenly;
	align-items: center;

}


.cd-card{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 5px;

}

.cd-card p{
	color:#85839b;
	margin-top: 10px;
	font-size: 14px; 
	text-transform: uppercase;
	font-weight: 570;
}

.cd-card-inner{
	/*background-color: lightblue;*/
	font-size: 50px;
	color:#fb6183;
	font-weight: 900;
	padding:25px;
	z-index: 4;
	background-color:#2c2c44 ;
}


.pix-box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.pix-box img{
	margin-left: 15px;
}


@media screen and (max-width: 760px){
	.cd-card-inner{
		font-size: 20px;
	}

	.cd-card p{
		z-index: 10;
}
}

















